body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("../bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.login-box {
    width: 300px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
}

.login-box input, .login-box select, .login-box button {
    margin: 10px;
    padding: 10px;
    width: 90%;
}
